
body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.container {
    
    width: 600px;
    margin: 0px auto;
    
}

#header {
    
    text-align: center;
    
}

#charts .chart {
    
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 20px;
    list-style-type: none;
    
}
