!!! 5
html

    head
        title Diablo III Graphs
        link(rel='stylesheet', type='text/css', href='/public/css/style.css')
        block scripts
    
    body
        #header
            h1 Diablo III Graphs
        #content-container
            block content