!!! 5
html

    head
        title the meta channel
        link(rel='stylesheet', type='text/css', href='/public/css/style.css')
        block scripts
    
    body
        #content-container
            block content